.Home {
  position: relative;
  overflow: hidden;
}

.Home>.ant-carousel .slick-slide {
  text-align: center;
  height: 90vh;
  overflow: hidden;
  margin: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.Home>.ant-carousel .slick-slide:nth-child(1) {
  background-image: url("https://res.cloudinary.com/andrerichards/image/upload/v1526241563/vend/girls.jpg");
}

.Home>.ant-carousel .slick-slide:nth-child(2) {
  background-image: url("https://res.cloudinary.com/andrerichards/image/upload/v1526241563/vend/bed.jpg");
}

.Home>.ant-carousel .slick-slide:nth-child(3) {
  background-image: url("https://res.cloudinary.com/andrerichards/image/upload/v1526241563/vend/clothes.jpg");
}

.Home>.ant-carousel .slick-slide:nth-child(4) {
  background-image: url("https://res.cloudinary.com/andrerichards/image/upload/v1526241563/vend/ipad.jpg");
}

.Home>.ant-carousel .slick-slide:nth-child(5) {
  background-image: url("https://res.cloudinary.com/andrerichards/image/upload/v1526241563/vend/shades.jpg");
  background-position: left bottom;
}

.Home>.ant-carousel .slick-slide h3 {
  color: #fff;
}

.Home .overlay {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  right: 0.5%;
  left: 0.5%;
  transform: translateY(-50%);
  min-width: 300px;
  border-top: 4px double #fff;
  border-bottom: 4px double #fff;
}

.Home .overlay .ant-carousel {
  position: relative;
}

.Home>.overlay .ant-carousel .slick-slide {
  text-align: center;
  padding: 2.8em 0 3.1em;
}

.Home>.overlay .ant-carousel .slick-slider .slick-track,
.Home>.overlay .ant-carousel .slick-slider .slick-list {
  height: 220px !important;
}

.Home>.overlay .ant-carousel .slick-slide h1,
.Home>.overlay .ant-carousel .slick-slide h3 {
  color: #fff;
  text-shadow: 1px 2px 1px #000;
}

.Home>.overlay .ant-carousel .slick-slide h1 {
  font-family: "Prata", serif;
  font-size: 2em;
  margin: 0.25em 0 0;
  letter-spacing: 1px;
}

.Home>.overlay .ant-carousel .slick-slide h3 {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 1.8em;
  font-style: italic;
  margin-bottom: 3.05em;
}

.Home .overlay a {
  margin: -6em 0 2em;
}

.Home .overlay a button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.471);
  border-color: #fff;
  border-radius: 0;
  font-size: 1.15em;
}

.Home .overlay a button:hover {
  color: #fff;
  background-color: rgba(122, 102, 47, 0.425);
  border-color: #fff;
}

@media (min-width: 650px) {
  .Home>.ant-carousel .slick-slide {
    background-position: center;
  }
  .Home>.ant-carousel .slick-slide:nth-child(1),
  .Home>.ant-carousel .slick-slide:nth-child(2) {
    background-position: left bottom;
  }
  .Home .overlay {
    width: 55%;
    left: 5%;
  }
  .Home>.overlay .ant-carousel .slick-slide h1 {
    font-size: 3.35em;
    margin: 0.55em 0 0;
    letter-spacing: 1px;
  }
  .Home>.overlay .ant-carousel .slick-slide h3 {
    font-weight: 400;
    font-size: 3em;
    font-style: italic;
  }
  .Home .overlay a {
    margin: -0.5em 0 4em;
  }
}