.Header {
  padding: 0.5% 2%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.Header h1 {
  font-family: "Playfair Display SC", serif;
  text-transform: capitalize;
  font-size: 1.5em;
  margin: 8% 0;
}

.Header .menu_section,
.Header .menu_section div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.Header .menu_section div p {
  margin: 0;
}

.Header .login {
  justify-content: flex-end;
}

.Header .login .ant-btn {}

.Header .menu_section div * {
  color: #000;
}

.Header div .anticon-shopping-cart {
  padding: 5px;
}

.Header div .ant-btn-circle {
  border-radius: 20px;
}

.Header .anticon:last-child {
  padding: 6px;
}

.Header div .ant-btn {
  border-color: #bebebe;
  position: relative;
}

.Header .ant-btn:hover,
.Header .ant-btn:focus,
.ant-menu-item .ant-btn:hover,
.ant-menu-item .ant-btn:focus {
  border-color: #faad14;
  color: #000;
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  margin-right: 0 !important;
}

.ant-menu-horizontal .ant-menu-submenu,
.ant-menu-horizontal .ant-menu-submenu:hover {
  border-bottom: 2px solid rgb(250, 173, 20) !important;
  color: rgb(250, 173, 20);
}

.Header sup,
div sup {
  background-color: rgb(250, 173, 20);
  position: absolute;
  transform: translateX(-50%);
  top: -10px;
  left: 30px;
  height: 20px;
  border-radius: 10px;
  min-width: 20px;
  line-height: 15px;
  text-align: center;
  padding: 0 6px;
  white-space: nowrap;
  transform-origin: -10% center;
  box-shadow: 0 0 0 1px #ddd;
}

.Header sup span,
div sup span {
  transition: none;
  transform: translateY(-1200%);
}

.Header sup p,
div sup p {
  color: #fff !important;
  font-size: 1.35em;
  text-shadow: 1px 0px 7px #777;
}

div>button,
.Header button,
.Header .ant-btn {
  border-radius: 0;
}

.Header .menu_section div a {
  font-size: 1.1em;
  font-weight: 500;
  transition: all 0.15s ease-in;
}

.Header .menu_section div a:hover {
  border-top: 1px solid #faad14;
  border-bottom: 1px solid #faad14;
}

.Header .menu_section div a:nth-child(2):hover {
  border: transparent;
}

.Header .ant-spin,
.ant-spin {
  position: absolute !important;
  left: 72%;
  z-index: 999;
  color: rgb(0, 0, 0);
  font-family: "Playfair Display SC", serif;
  min-width: initial;
}

.ant-spin-text {
  display: none !important;
}

.Header .ant-spin-dot i,
.ant-spin-dot i {
  border-radius: 0 !important;
}

.Header .ant-spin-dot i:nth-child(1),
.ant-spin-dot i:nth-child(1) {
  background-color: #E3B23C;
}

.Header .ant-spin-dot i:nth-child(2),
.ant-spin-dot i:nth-child(2) {
  background-color: #EDEBD7;
}

.Header .ant-spin-dot i:nth-child(3),
.ant-spin-dot i:nth-child(3) {
  background-color: #989a50;
}

.Header .ant-spin-dot i:nth-child(4),
.ant-spin-dot i:nth-child(4) {
  background-color: #708a98;
}

.ant-menu .ant-menu-item {
  font-family: 'Cormorant';
  margin-top: 10% !important;
  overflow: inherit !important;
}

.ant-menu li a button {
  margin-left: 5%;
}

.hide {
  display: none !important;
}

.blur {
  filter: blur(5px);
  opacity: 0.3;
}

@media (min-width: 650px) and (orientation: landscape){

}

@media (min-width: 650px) {
  .Header .menu_section,
  .Header .menu_section div {
    width: 35%;
    min-width: 35em;
    margin: 1% 0;
  }
  .Header .login div {
    width: inherit;
    min-width: 7.5em;
  }
  .Header h1 {
    margin: 1% 0;
    font-size: 2.5em;
  }
  .Header .login .ant-spin {
    min-width: initial;
    left: 43%;
    top: 0;
    width: 15em;
    display: flex;
    flex-direction: column;
  }
  .Header .ant-spin-text {
    display: inline !important;
    width: 4em;
  }
}