.Products {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Products p {
    font-size: 0.75em;
}

.Products .prod_display {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Products>div.prod_display>div.prod_img {
    position: relative;
    height: 55%;
}

.Products>div.prod_display>div.prod_img>img {
    height: 100%;
}

.Products>div.prod_display>div.product_info {
    width: 55%;
    height: 100%;
    font-size: 1.25em;
    max-width: 500px;
    margin-left: 0.1em;
}

.Products>div.prod_display>div.product_info>div {
    height: 80%;
    font-size: 90%;
    color: #000;
    overflow: hidden;
}

.Products>div.prod_display>div.product_info>div>div.ant-card-head {
    background-color: rgba(238, 228, 216, 0.678);
}

.Products>div.prod_display>div.product_info>div>div.ant-card-head>div>div {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

.Products>div.prod_display>div.product_info>button {
    font-family: "Cormorant", serif;
    padding: 1% 5%;
    float: right;
    height: 2.5em;
    margin-top: 1%;
    border-radius: 0;
    background-color: rgba(51, 92, 103, 0.79);
    color: white;
    transition: 0.15s ease-in;
}

.Products>div.prod_display>div.product_info>button:hover {
    background-color: rgba(51, 92, 103, 1);
    border-color: transparent;
}

.Products>div.prod_display>div.product_info>button:focus {
    border-color: transparent;
}

.Products>div.prod_display>div.product_info>button span {
    font-weight: 500;
}

.Products>div.prod_display>div.product_info>div>div.ant-card-body {
    overflow: auto;
    padding: 12px;
    text-overflow: ellipsis;
    height: 75%;
}

.Products .prod_results .ant-card-cover>* {
    width: initial;
}

.Products>div.prod_results>div>div.ant-card-body {
    display: flex;
    flex-wrap: wrap;
    height: 45vh;
    overflow: auto;
    justify-content: center;
    padding: 24px 12px;
}

.Products .prod_results .ant-card {
    width: 100%;
}

.Products .prod_results .ant-card-hoverable:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.15);
}

.Products .prod_results .ant-card-type-inner {
    width: 49%;
    margin: 1px;
}

.Products>div.prod_results>div>div.ant-card-head {
    background-color: #E54B4B;
}

.Products .prod_results .ant-card-padding-transition .ant-card-head {
    margin-bottom: 1px;
}

.Products .prod_results .ant-card-cover {
    cursor: pointer;
}

.Products .prod_results .ant-card-type-inner .ant-card-cover img {
    width: 55%;
    margin: 0.5em auto;
}

.Products .prod_results .ant-card-type-inner .ant-card-body {
    display: none;
}

.Products .prod_results .ant-card-type-inner .ant-card-head {
    background-color: rgba(238, 228, 216, 0.678);
    font-size: 1.8em;
}

.Products .prod_results .ant-card-head-wrapper {
    flex-direction: column;
}

#root>div>div.Products>div.prod_results>div>div.ant-card-head>div>div {
    color: #fff;
    font-size: 70%;
    font-size: 1em;
    font-family: 'Cormorant', serif;
    font-weight: 500;
}

.Products .ant-card-head-title {
    padding: 12px 0 0;
    font-size: 0.7em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Cormorant';
}

.Products .ant-card-actions>li {
    margin: 12px 0 0;
    color: rgba(0, 0, 0, 0.45);
}

.Products>div.prod_results>div>div.ant-card-body>div>ul>li:nth-child(1)>span {
    transition: ease-in 0.15s;
}

.Products>div.prod_results>div>div.ant-card-body>div>ul>li:nth-child(1)>span:hover {
    color: rgb(113, 170, 187)
}

.Products .ant-card-actions>li>span>.anticon-plus-circle {
    font-size: 20px;
}

.Products>div.prod_results>div>div.ant-card-body>div>ul>li:nth-child(2)>span {
    color: #000;
    letter-spacing: 0.5px;
    cursor: initial;
}

@media (min-width: 600px) {
    .Products>div.prod_display>div.prod_img {
        height: 100%;
    }
}

@media (min-width: 830px) {
    .Products .prod_results .ant-card-type-inner {
        width: 24%;
        margin: 1px;
    }
    .Products>div.prod_display>div.prod_img {
        height: 100%;
    }
    .Products>div.prod_display>div.product_info {
        width: 30%;
    }
    .Products>div.prod_display>div.product_info>div>div.ant-card-body {
        padding: 24px;
    }
    .Products>div.prod_display>div.product_info>div>div.ant-card-head>div>div {
        font-size: 1.2em;
    }
}