.Stores {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-top: 1%;
}

.Stores * {
  font-family: "Cormorant", serif;
  color: #000 !important;
}

.Stores h1 {
  font-size: 1.5em;
}

.Stores .ant-card-body {
  text-align: center;
  padding: 2%;
}

.Stores a {
  font-size: 1em;
  display: flex;
  flex-direction: column-reverse;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  font-family: "Cormorant", serif;
  color: #000 !important;
  font-size: 1.4em !important;
  padding: 10% 5% !important;
  text-align: center;
  border-top: 0.5px solid rgba(189, 188, 188, 0.355);
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: rgba(250, 173, 20, 0.33) !important;
}

.Stores .ant-row {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.Stores .ant-row .ant-col-8 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
  margin: 1% 0;
}

.Stores .ant-row .ant-col-8 .ant-card {
  overflow: hidden;
}

.Stores .ant-row .ant-col-8 .ant-card-head {
  text-align: center;
}

.Stores .ant-row .ant-col-8 .ant-card-head-title {
  padding: 5px 0;
}

.Stores .ant-row .ant-col-8 .ant-card-head-title img {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.ant-dropdown,
.ant-dropdown-menu {
  width: 12em;
}

.Stores .ant-dropdown-menu {
  text-align: center;
}

.Stores .ant-card-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.Stores .ant-card-cover:hover {
  transform: scale(1.02, 1.01);
}

.Stores .ant-row .ant-col-8:nth-child(1)>div>div.ant-card-cover {
  background-image: url("https://res.cloudinary.com/andrerichards/image/upload/v1519781397/vend/couple.jpg");
  background-position: right;
  height: 55%;
}

.Stores .ant-row .ant-col-8:nth-child(2)>div>div.ant-card-cover {
  background-image: url("https://res.cloudinary.com/andrerichards/image/upload/v1519781397/vend/vr.jpg");
  height: 30%;
}

.Stores .ant-row .ant-col-8:nth-child(3)>div>div.ant-card-cover {
  background-image: url("https://res.cloudinary.com/andrerichards/image/upload/v1519781397/vend/glass.jpg");
  height: 50%;
}

.Stores .ant-card-hoverable {
  cursor: default !important;
  height: 100%;
  min-height: 500px;
}

.Stores .ant-card-hoverable:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25) !important;
}

@media (min-width: 830px) {
  .Stores {
    padding-top: initial;
  }
  .Stores h1 {
    font-size: 1.5em;
  }
  .Stores a {
    font-size: 1.15em;
  }
  .Stores .ant-row {
    display: flex;
    justify-content: space-around;
    width: 95%;
    padding-top: 1%;
    height: 100%;
    align-items: center;
    margin: initial;
    flex-direction: row;
  }
  .Stores .ant-row .ant-col-8 {
    width: 33.3333333%;
    height: 100%;
    margin: 1% 0;
  }
  .Stores .ant-row .ant-col-8 .ant-card-head-title {
    padding: 16px 0;
  }
  .Stores .ant-row .ant-col-8 .ant-card-head-title img {
    width: 80%;
    margin: 0 auto 1%;
  }
  .Stores .ant-row .ant-col-8:nth-child(1)>div>div.ant-card-cover,
  .Stores .ant-row .ant-col-8:nth-child(2)>div>div.ant-card-cover,
  .Stores .ant-row .ant-col-8:nth-child(3)>div>div.ant-card-cover {
    height: 90%;
  }
}